extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Stephan von Coelln

        p Data Scientist, Cloud Developer and brand new Full Stack JavaScript Developer

        .about-bio
          p 
            | In an universe of opportunities its hard to decide how to get into the pole position for the race into the future. 
            | But wait !!! ...  Maybe just my skills will help you creating technologies for beaming, travelling at light speed and food-replication (including  Schnitzel) :-)  Curious? Why waiting ?          

      .skills-contact-box.box
        h6 My JavaScript Full-Stack Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs 
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li xxx-xxx-xxx
          li svcoelln@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/stephan-von-coelln-535009153/') LinkedIn
        a.btn-link(href='https://github.com/TheRealSvc') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back