extends layout.pug

block content

  article.portfolio-intro

    h1 Hi there, this is my Treehouse portfolio ! 

    p Presented here is the portfolio i've created so far during the Treehouse Full-Stack Javascript Developer Techdegree course. Each project includes both a link to the public github repository and to a live demo. 

  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in data
        .cell
          a(href=`/projects/${project.id}`)  
            img.thumbnail(src= `${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5 #{project.project_name}