extends layout

block content
  h2 The page could not be found !
  section.desk
    h1= `${error.message} - Status: ${error.status}`
    nav.nav
      a(href='/')
        span &larr;
        |  Back 
    .paper
      pre.stack-trace= error.stack
    .tear